@use "../_Globals/Links";

.expandedFolderBackground_bc7085.collapsed_bc7085
{
    border: none;
}

.wrapper_bc7085 [aria-expanded="false"] .folderIconWrapper_bc7085
// .icon_a64689
{
    mask-image: Links.$AvatarBorderMaskInverse;
    transform: scale(1.01);
}
