@use "../_Globals/Links";

.expandedFolderBackground_bc7085,
// .folder_bc7085,
.folderIconWrapper_bc7085
{
    // background-color: white;
    background-color: var(--phantom-primary);
    border-radius: 0;
}

[aria-expanded="true"] .folderIconWrapper_bc7085
{
    position: relative;
    background-color: transparent;
    background-color: var(--phantom-primary);

    // background-image: Links.$FolderHeader;
    background-repeat: no-repeat;
    background-size: contain;

    mask-image: Links.$FolderHeader;

    border-radius: 0;
}
.folder_bc7085.hover_bc7085
{
    background-color: black;
}
[aria-expanded="true"] .folderIconWrapper_bc7085 svg
{
    position: relative;
    top: 6px;
}

.folder_bc7085:has(.closedFolderIconWrapper_bc7085) // Custom Coloured Folders
{
    background-color: black; // Keep custom colours dark

}

.expandedFolderBackground_bc7085
{
    transition: none;
}

.wrapper_c5f96a
{
    border-radius: 0;
}

.wrapper_bc7085 .wrapper_c5f96a mask
{
    display: none;
}


// .expandedFolderBackground_bc7085:not(.expandedFolderIconWrapper_bc7085)
// {
//     clip-path: inset(0 0 4px 0);
// }

.folderEndWrapper_b7c66a
{
    width: 48px;
    height: 12px;
    height: 4px;

    left: 12px;
    bottom: 4px;

    box-shadow: 0 -4px 0 var(--phantom-primary);

    // transform: scale(0.98);
    background-image: Links.$FolderFooter;
    background-repeat: no-repeat;
    background-size: cover;
}

// For if right side has aliasing
// .folderEndWrapper_b7c66a,
// .expandedFolderBackground_bc7085:not(.expandedFolderIconWrapper_bc7085)
// {
//     border-style: solid;
//     border-right-width: 1px;
//     border-color: var(--phantom-primary);
// }

.wrapper_bc7085
{
    margin-bottom: 18px;
}
