.wrapper_c5f96a:has(.icon_f90abb) .lowerBadge_c5f96a .numberBadge_df8943
{
    position: relative;
    // left: -40px;
    left: -36px;
    bottom: 34px;
    // bottom: 32px;
}

// Remove bottom right Mask
.wrapper_c5f96a [id="c18c0440-a51c-4cee-8fa0-80b2e25bbc19"]
{
    display: none;
}
