// Avy Positioning
.wrapper_c5f96a .icon_f90abb, // Server Avy's
.acronym_f90abb // No Avy Image
{
    position: relative;
    left: 3px;
    top: 1px;

    $Size: 32px;

    width: $Size;
    height: $Size;
}
// Every 2nd Avatar
.listItem_c96c45:nth-child(2n) .wrapper_c5f96a .icon_f90abb,
.listItem_c96c45:nth-child(2n) .acronym_f90abb
{
    left: -1px;
}

// Avatar Borders
.wrapper_c5f96a:has(.icon_f90abb):before,
.wrapper_f90abb:has(.acronym_f90abb):before
{
    position: absolute;
    left: 1px;
    top: 0px;

    $Size: 46px;
    width: $Size;
    height: $Size;

}

// .expandedFolderBackground_bc7085:not(.collapsed_bc7085):after
// {
//     content: "";
    
//     position: absolute;
//     left: 0px;
//     bottom: -12px;

//     height: 12px;
//     width: 48px;
// }

// Invert Avy's
.wrapper_c5f96a:before
{
    filter: invert(1);
}
.wrapper_bc7085 .wrapper_c5f96a:before // Uninvert Folders inside of Folders
{
    filter: invert(0);
}

// Remove Acronym out of folder Mask
// .wrapper_c5f96a [id="091e7126-332d-4f3d-ba59-b2f9260524c4"]
// {
//     display: none;
// }
