@use "../../_Globals/Images";

// Avatar Border //
.messageListItem_d5deea:has(.groupStart_d5deea):before,
.repliedMessage_f9f2ca:before,
.wrapper_c5f96a:has(.icon_f90abb):before,
.wrapper_f90abb:has(.acronym_f90abb):before
// .closedFolderIconWrapper_bc7085 .guildIcon_bc7085:before
{
    content: "";
    position: absolute;

    background-image: Images.$AvatarBorder;
    background-repeat: no-repeat;
}
.listItem_c96c45:nth-child(2n) .wrapper_c5f96a:has(.icon_f90abb):before,
.listItem_c96c45:nth-child(2n) .wrapper_f90abb:has(.acronym_f90abb):before
// .closedFolderIconWrapper_bc7085 .guildIcon_bc7085:nth-child(2n):before
{
    content: "";
    position: absolute;

    background-image: Images.$AvatarBorderInverse;
    background-repeat: no-repeat;
}
