$AvatarPath: 0% 0%, 95% 15%, 100% 85%, 15% 100%;
$AvatarTop: 8px; // 2px Default

.avatar_f9f2ca
{
    position: absolute;
    top: $AvatarTop;

    // $AvatarSize: 50px;
    // width: $AvatarSize;
    // height: $AvatarSize;
    
    border-radius: 0%;
    // clip-path: polygon($AvatarPath);
    mask-image: url(https://garbage-memes.should-be.legal/9Rd9L27.svg);
    mask-repeat: no-repeat;
    mask-size: 40px;
    // mask-size: $AvatarSize;
}

// Avatar Border
.messageListItem_d5deea:has(.groupStart_d5deea):before
{
    content: "";
    position: absolute;
    left: 0px;
    top: calc($AvatarTop - 2px - 7px);

    $AvatarSize: 60px;
    // $AvatarSize: 70px;
    width: $AvatarSize;
    height: $AvatarSize;

    background-image: url(https://garbage-memes.should-be.legal/AVHYt5n.svg);
    background-repeat: no-repeat;
}

// Decorations Fix
.avatarDecoration_f9f2ca
{
    clip-path: polygon($AvatarPath);

    $AvatarSize: 40px;
    // $AvatarSize: 50px;
    width: $AvatarSize;
    height: $AvatarSize;

    left: 16px;
    // top: 6px;
    top: 12px;

    // transform: skew(-5deg);
}
