@use "../../_Globals/Images";

// Hide Discord Logo
[aria-label="Direct Messages"] .childWrapper_f90abb  svg
{
    display:  none;
}

// New IM Logo
[aria-label="Direct Messages"] .childWrapper_f90abb 
{
    background-color: transparent;

    background-image: Images.$IMLogo;
    background-size: cover;

    border-radius: 8px;
    transition: none;
    // transition: background-color 0.2s ease;
}

// IM Logo Hovered/Selected Colour
[aria-label="Direct Messages"].selected_f90abb .childWrapper_f90abb 
{
    // background-color: transparent;
    background-color: white;
    // background-color: var(--phantom-dark-red);
}
