@use "../../_Globals/Links";

// Hide Discord Logo
[aria-label="Direct Messages"] .childWrapper_f90abb  svg
{
    display:  none;
}

// New IM Logo
[aria-label="Direct Messages"] .childWrapper_f90abb 
{
    background-color: transparent;

    background-image: Links.$IMLogo;
    background-size: cover;
}

// Remove IM Logo Hovered/Selected Colour
[aria-label="Direct Messages"].selected_f90abb .childWrapper_f90abb 
{
    background-color: transparent;
}
