@use "../Utilities/Globals";

.theme-dark
{
    // Client Colours
    --background-primary: #{Globals.$DarkRed}; // Chat Area and Server Topbar
    --background-secondary: #{Globals.$DarkRed}; // Sidebars, Guild Folders
    --background-secondary-alt: #{Globals.$DarkRed}; // Client Profile Area 
    --background-tertiary: #{Globals.$DarkRed}; // Client Titlebar, Guild Sidebar

    --channeltextarea-background: #{Globals.$DarkRed};

    --primary-630: #{Globals.$DarkRed}; // @Members Menu

    --background-mentioned: none;
    --background-mentioned-hover: none;

    --phantom-mentioned: rgba(248, 0, 0, 0.5);
    --phantom-mentioned-hover: rgba(248, 0, 0, 1);;
}
