:root
{
    --font-primary: 'p5RegText';

    // Custom Colours
    $PhantomVelvet: rgb(9, 95, 237);
    --phantom-velvet: 9, 95, 237;

    // Targets Client Colours
    --phantom-mentioned: rgba(var(--phantom-velvet), 0.5);
    --phantom-mentioned-hover: rgba($var(--phantom-velvet), 1);
}
