:root
{
    --font-primary: 'p5RegText';

    // --font-primary: 'Noto Sans';
    // --font-primary: 'Gloock';
    // font-weight: 400;

    // Custom Colours
    --phantom-velvet: rgb(9, 95, 237);
    --phantom-velvet-rgb: 9, 95, 237;

    // Targets Client Colours
    --phantom-mentioned: rgba(var(--phantom-velvet-rgb), 0.5);
    --phantom-mentioned-hover: rgba(var(--phantom-velvet-rgb), 1);
    --phantom-mentioned-input: rgba(var(--phantom-velvet-rgb), 0.8);

    --phantom-mention-foreground-input: rgba(255, 255, 255, 0.8);
    
    --phantom-text-input-faded: rgba(0, 0, 0, 0.8);

    // Dark Theme but we global dat shit
    --text-link: var(--phantom-velvet);
    --channel-text-area-placeholder: var(--phantom-text-input-faded);
}

// *
// {
//     font-weight: 600!important;
// }
