.message_d5deea .contents_f9f2ca .channelTextArea_d5deea
{
    margin: unset;
}

.message_d5deea .contents_f9f2ca .channelTextArea_d5deea .textArea_d0696b
{
    height: fit-content!important;
    min-height: 28px; // This needs padding to replace it on Operations for future enters
}

.message_d5deea .contents_f9f2ca .textAreaWithoutAttachmentButton_d0696b
{
    padding-left: 32px;
    padding-bottom: unset;
}

.groupStart_d5deea.message_d5deea .contents_f9f2ca .textAreaWithoutAttachmentButton_d0696b
{
    padding-top: unset;
}
