// Instructions
.operations_baf0d6
{
    z-index: 1;
    position: relative;
    left: 32px;
    bottom: 1px;

    padding: unset;

    color: var(--phantom-text-input-faded);
    // color: var(--channel-text-area-placeholder);
}
