@use "../_Globals/Links";

// Remove Extra Message Box
.mentioned_d5deea:before
{
    display: none;
}

// Removes Ping Highlight behind messages
.mentioned_d5deea .messageContent_f9f2ca
{
    background: none;
}

// Mentioned Indicator "!"
.mentioned_d5deea:after
{
    content: "";
    position: absolute;
    top: -24px;
    right: 10px;

    width: 37px;
    height: 44px;

    background-image: Links.$ExclamationMark;
    background-repeat: no-repeat;
}
// Mention Indicators under GroupStart
.message_d5deea:not(.groupStart_d5deea).mentioned_d5deea:after
{
    top: -28px;
}

// Mentioned User Borders
.messageContent_f9f2ca .mention,
.editor_a552a6 .wrapper_bf1b19
{
    border-radius: 2px;
}

// Mentioned User Colour 
.messageContent_f9f2ca .mention
{
    background-color: var(--phantom-mentioned);
}

// Mentioned User Hover Colour
.mention:hover
{
    background-color: var(--phantom-mentioned-hover);
}

// Mentions in Input Boxes
.editor_a552a6 .wrapper_bf1b19
{
    background-color: var(--phantom-mentioned-input);
    color: var(--phantom-mention-foreground-input);
}
