@use "../../_Globals/Links";

// .mentioned_d5deea
// {

// }

.mentioned_d5deea:before
{
    display: none;
}

.mentioned_d5deea .messageContent_f9f2ca
{
    background: none;
}

.mentioned_d5deea:after
{
    content: "";
    position: absolute;
    top: -24px;
    right: 10px;

    width: 37px;
    height: 44px;

    background-image: Links.$ExclamationMark;
    background-repeat: no-repeat;
}

.messageContent_f9f2ca .mention
{
    // color: var(--text-primary);
    // color: red;
    background-color: var(--phantom-mentioned);
    // background-color: unset;

border-radius: 0;
}

.messageContent_f9f2ca .mention:hover
{
    background-color: var(--phantom-mentioned-hover);
    // background-color: unset;
}
