@use "../../_Globals/Links";

// .mentioned_d5deea
// {

// }

.mentioned_d5deea:before
{
    display: none;
}

.mentioned_d5deea .messageContent_f9f2ca
{
    background: none;
}

.mentioned_d5deea:after
{
    content: "";
    position: absolute;
    top: -24px;
    right: 10px;

    width: 37px;
    height: 44px;

    background-image: Links.$ExclamationMark;
    background-repeat: no-repeat;
}
.messageContent_f9f2ca .mention,
.editor_a552a6 .wrapper_bf1b19
{
    border-radius: 2px;
}

.messageContent_f9f2ca .mention
{
    // color: var(--text-primary);
    background-color: var(--phantom-mentioned);
}

.mention:hover
{
    background-color: var(--phantom-mentioned-hover);
    // background-color: unset;
}

// Mentions in Input Boxes
.editor_a552a6 .wrapper_bf1b19
{
    background-color: var(--phantom-mentioned-input);
    color: var(--phantom-mention-foreground-input);
}
