@use "../../Utilities/Globals";

$MsgGroupSeperation: 80px; // Distance between message groups

$MsgFromTop: -6px; // Distance from top, Text
$MsgLeft: 24px;

$BubbleWidth:  calc(100% - 85px); // No Speechbubble Triangle
$BubbleWidth:  calc(100% - 93px); // Space for Speechbubble Triangle
$BubbleBorderLeft: 4px;
$BubbleBorderRight: 8px;
$BubbleBorderTop: 5px;
$BubbleBorderBottom: 6px;

$MessagePaddingLeft: 72px; // Default, No Speechbubble Triangle
$MessagePaddingLeft: 80px;

// Positioning
.message_d5deea.groupStart_d5deea
{
    margin-top: $MsgGroupSeperation;

    min-height: 0px;
    // height: 22px;
}

// This must contain all chat contents
.messageContent_f9f2ca, .container_b558d0
{
    position: relative;
    top: $MsgFromTop;
    left: $MsgLeft;
}

// Extra Padding for Speechbubble Triangle Space
.cozy_f9f2ca .messageContent_f9f2ca
{
    padding-left: $MessagePaddingLeft; // Default 72
}
.container_b558d0 // Images
{
    padding-left: calc($MessagePaddingLeft - 72px) 
}


// Speech Bubble
.message_d5deea .contents_f9f2ca:before,
.message_d5deea:before // Normal Bubbles,
{
    content: "";
    position: absolute;
    right: 0;

    width: $BubbleWidth;
    height: 100%;

    background-color: black;

    border: solid white;
    // Border Sides
    border-width: 0px $BubbleBorderRight 0px $BubbleBorderLeft;
}

// First Message
.message_d5deea.groupStart_d5deea .contents_f9f2ca:before
{
    padding-right: -72px;

    border-width: $BubbleBorderTop $BubbleBorderRight 0px $BubbleBorderLeft;
}

// Bottom Message
.message_d5deea .contents_f9f2ca:before
{  
    box-shadow: 0px $BubbleBorderBottom white;
}

// Speech Bubble Triangle
.messageListItem_d5deea:has(.groupStart_d5deea):after
{
    content: "";
    z-index: 1;
    position: absolute;
    left: 46px;
    top: 14px;

    width: 40px;
    height: 40px;
    background-image: Globals.$SpeechbubbleSquiggle;
    background-repeat: no-repeat;
    background-size: cover;
}
