@use "../_Globals/Links";

$MsgGroupSeperation: 76px; // Distance between message groups

$MsgFromTop: -6px; // Distance from top, Text
$MsgLeft: 32px;

// Hover Colour
.message_d5deea:hover
{
    background-color: unset!important;
}

// Positioning
.message_d5deea.groupStart_d5deea
{
    margin-top: $MsgGroupSeperation;

    min-height: 0px;
    // height: 22px;
}

// This must contain all chat contents
.messageContent_f9f2ca:not(.repliedMessage_f9f2ca .messageContent_f9f2ca),
.container_b558d0
{
    position: relative;
    top: $MsgFromTop;
    left: $MsgLeft;
}

// Extra Padding for Images from Bubble
.container_b558d0 // Images
{
    padding-left: calc($MsgLeft - 24px) 
}

// Speech Bubble Triangle
.messageListItem_d5deea:has(.groupStart_d5deea):after
{
    content: "";
    z-index: 1;
    position: absolute;
    left: 46px;
    top: 14px;

    width: 40px;
    height: 40px;
    background-image: Links.$SpeechbubbleSquiggle;
    background-repeat: no-repeat;
    background-size: cover;
}
