$ReplyAvatarTop: -0px;

.repliedMessage_f9f2ca:before
{
    position: absolute;
    top: calc($ReplyAvatarTop - 4px);
    left: -6px;

    // filter: invert(1);

    $BorderSize: 26px;

    width: $BorderSize;
    height: $BorderSize;
}