.repliedMessage_f9f2ca
{
    position: absolute;
    top: -22px;
    left: 275px;
}

// The reply line
.repliedMessage_f9f2ca:before
{
    // display: none;
    border: unset;
}


.replying_d5deea
{
    background: unset;
}

.replying_d5deea:before
{
    // z-index: 1;
    // left: 100px;

    // width: 20px;
    // height: 20px;

    // background-color: red;
    background-color: unset;
    border: unset;
}
