.repliedMessage_f9f2ca
{
    position: absolute;
    top: -22px;
    left: 270px;
}

// The reply line
.repliedMessage_f9f2ca:before
{
    display: none;
}

.hasReply_f9f2ca .timestamp_f9f2ca:not(:has([aria-label^="Edited"]))
{
    top: -2px;
}
