.theme-dark
{
    // Custom Colours
    --phantom-dark-red: #4c0000;
    --phantom-striking-red: #f70003;

    // Targets Client Colours
    --phantom-primary: #4c0000;
    --phantom-secondary: #000000;

    // Client Colours
    --background-primary: var(--phantom-primary); // Chat Area and Server Topbar
    --background-secondary: var(--phantom-secondary); // Sidebars, Guild Folders
    --background-secondary-alt: var(--phantom-secondary); // Client Profile Area 
    --background-tertiary: var(--phantom-primary); // Client Titlebar, Guild Sidebar

    --channeltextarea-background: var(--phantom-secondary);

    --primary-630: var(--phantom-primary); // @Members Menu

    --background-mentioned: none;
    --background-mentioned-hover: none;
}
