[aria-label="Boost this server"],
[aria-label="Send a gift"],
[aria-label="Open GIF picker"],
[aria-label="Open sticker picker"]
{
    display: none;
}

.attachButton_f298d4 path
{
    fill: black;
}

.attachButton_f298d4:hover path
{
    fill: red!important;
}

// Emoji Sprite
// .sprite_d91a75 
// {

// }

.spriteGreyscale_d91a75

{
    background-color: black;
}
