@use "../Speechbubbles";

$BubbleBorderTop: Speechbubbles.$BubbleBorderTop;
$BubbleBorderRight: Speechbubbles.$BubbleBorderLeft;
$BubbleBorderBottom: Speechbubbles.$BubbleBorderBottom;
$BubbleBorderLeft: Speechbubbles.$BubbleBorderRight;

.form_a7d72e
{
    padding-left: 15px;
}

.form_a7d72e:before
{
    background: unset;
}

.channelTextArea_a7d72e .themedBackground_d0696b
{
    background-color: unset;
}

// Bubble
.channelTextArea_a7d72e
{
    $SpaceAboveInputBox: 8px;

    margin-top: $SpaceAboveInputBox;
    margin-bottom: 12px;
    
    background-color: white;

    border: solid black;
    border-radius: 0;
    // Border Sides
    border-width: $BubbleBorderTop $BubbleBorderRight $BubbleBorderBottom $BubbleBorderLeft;
}
