.form_a7d72e
{
    padding-left: 15px;
}

.form_a7d72e:before
{
    background: unset;
}

// .channelTextArea_a7d72e .themedBackground_d0696b,
// .channelTextArea_d5deea .themedBackground_d0696b
.themedBackground_d0696b
{
    background-color: unset;
}

.channelTextArea_a7d72e
{
    $SpaceAboveInputBox: 8px;

    margin-top: $SpaceAboveInputBox;
    margin-bottom: 12px;
    
    margin-top: $SpaceAboveInputBox;
    margin-bottom: 12px;

    border-radius: 0;
}
