// Worth considering if I should use CSS Vars instead for user customizability

// Fonts
@font-face 
{
    font-family: 'p5RegText';
    src: url(https://wapourvave.github.io/WebFonts/OptimaNovaLTProBlack/OptimaNovaLTProBlack.otf);
}

  //=========//
 // Links   //
//=========//
$AvatarBorderMask: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorderMask.svg);
$AvatarBorder: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorder.svg);
$SpeechbubbleSquiggle: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/SpeechbubbleSquiggle.svg);

$ExclamationMark: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/!.png);

  //=========//
 // Colours // Change to CSS Vars later
//=========//

// Persona 5 Colours
$DarkRed: #4c0000;

// Client Colours
$Primary: $DarkRed;
