// Loading Screen
$TakeYourTime: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/Startup/TakeYourTime.a.png);

// Avatar Borders //
$AvatarBorder: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorder.svg);
$AvatarBorderSelected: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorderSelected.svg);

$AvatarBorderInverse: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorderInverse.svg);
$AvatarBorderInverseSelected: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorderInverseSelected.svg);

// $AvatarBorderTexSheet: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/refs/heads/main/Assets/AvatarBorderTexSheet.svg);
// $AvatarBorder: 0px 0px;
// $AvatarBorderSelected: 50px 0px;

// $AvatarBorderInverse: 0px 50px;
// $AvatarBorderInverseSelected: 50px 50px;

// Inverted Avy Borders
$AvatarBorderInvert: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorderInvert.svg);
$AvatarBorderInvertSelected: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorderInvertSelected.svg);

$AvatarBorderInverseInvert: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorderInvertInverse.svg);
$AvatarBorderInverseInvertSelected: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorderInvertInverseSelected.svg);

// $AvatarBorderInvert: 0px 100px;
// $AvatarBorderInvertSelected: 50px 100px;

// $AvatarBorderInverseInvert: 0px 150px;
// $AvatarBorderInverseInvertSelected: 50px 150px;


// Avy Masks
$AvatarBorderMask: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorderMask.svg);
$AvatarBorderMaskInverse: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorderMaskInverse.svg);

// Messages
$SpeechbubbleSquiggle: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/SpeechbubbleSquiggle.svg);
$ExclamationMark: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/!.png);

// Server Sidebar
$IMLogo: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/Servers/IMLogoNoBG.svg);

// Server Folders
$FolderHeader: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/Servers/FolderHeader.svg);
$FolderFooter: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/Servers/FolderFooter.svg);
$FolderBorderMaskInverse: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/Servers/FolderHeaderCollapsed.svg);

// Message Accessories
$UnreadMessageIndicator: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/UnreadMessages.svg);
