$AvatarBorderMask: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorderMask.svg);
$AvatarBorder: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorder.svg);
$SpeechbubbleSquiggle: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/SpeechbubbleSquiggle.svg);

$AvatarBorderRed: url();

$ExclamationMark: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/!.png);

$TakeYourTime: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/Startup/TakeYourTime.a.png)
