$AvatarBorderMask: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorderMask.svg);
$AvatarBorder: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorder.svg);
$SpeechbubbleSquiggle: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/SpeechbubbleSquiggle.svg);

$AvatarBorderMaskInverse: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorderMaskInverse.svg);
$AvatarBorderInverse: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/AvatarBorderInverse.svg);

$FolderHeader: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/Servers/FolderHeader.svg);
$FolderFooter: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/Servers/FolderFooter.svg);

$ExclamationMark: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/!.png);

$TakeYourTime: url(https://raw.githubusercontent.com/WapourVave/Persona-5-Phantom-Theme/main/Assets/Startup/TakeYourTime.a.png)
