.lowerBadge_c5f96a .numberBadge_df8943
{
    position: relative;

    width: 16px!important;
    height: 16px;

    background-color: var(--phantom-striking-red)!important;
    border: solid 1px white;
}
